<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Editar</h1>
    <form action="/age/updateage" method="post">
        <div class="form-control">
            <input type="hidden" name="id_da_agencia" id="" value="{{age.id_da_agencia}}">
            <br><br>
            <label for="name">Endereço:</label>
            <input type="text" name="endereco" placeholder="Digite o endereço do cliente" value="{{age.endereco}}">
            <br><br>
            <label for="name">Email:</label>
            <input type="text" name="email" placeholder="Digite o email do cliente" value="{{age.email}}">
            <br><br>
            <label for="email">Telefone:</label>
            <input type="text" name="telefone" placeholder="Digite o telefone do cliente" value="{{age.telefone}}">
            <br><br>
            <input type="submit" value="Editar">
        </div>
    </form>

</body>

</html>