body{
    background-color: rgb(35, 63, 87);

}

.algo{
    margin:100px 100px 200px 300px;
    color: white;
    font-size: 20px;
    width: 700px;
}

.img{
    margin-left: 600px;
}

.enviar{
    background-color:white;
    border-color:white;
    color: rgb(35, 63, 87);
    border-radius: 10%;
    width: 100px;
    height: 50px;
}